DB_URL=jdbc:postgresql://postgres:5432/microserv_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

RABBITMQ_EXCHANGE=orders.event
RABBITMQ_QUEUE_PAYMENT=payment-service

PORT=3003

MIDTRANS_SERVER_KEY=Mid-server-xxxxxxxxxxxx
MIDTRANS_IS_PRODUCTION=false
